@using BookCommerce3.Model
@model List<Produkti>
@if (TempData["suksesi"] != null)
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["suksesi"]')
    </script>
}
<div class="container">
    <div class="row p-3">
        <div class="col-6">
            <h2 class="text-primary">Lista e produkteve</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Produkti" asp-action="ShtoNdrysho" class="btn btn-primary">Shto</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Emri</th>
            <th>Isbn</th>
            <th>Autori</th>
            <th>Kategoria</th>
            <th>Cmimi</th>
        </tr>
        </thead>
    </table>
</div>